<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="robots" content="index,follow"/>
        <meta name="description" content="Check PM2.5 Levels in Thailand"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript style="display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;"><h1 style="font-size: xx-large;">Hello.</h1><p style="text-align: center;">It's look like you don't have JavaScript enabled.</p><p style="text-align: center;">JavaScript is required to be enabled for this site to functional.</p></noscript>
        <div id="app">
        </div>
    </body>
</html>